* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0a0f0d;
  color: #d1d5db;
}

/* NAV */
.navbar {
  position: fixed;
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1f2937;
}

.navbar h1 {
  color: white;
}

.navbar span {
  color: #22c55e;
}

/* HERO */
.hero {
  height: 100vh;
  background: url('cultivo.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 600px;
}

.hero h2 {
  font-size: 3rem;
  color: white;
}

.hero p {
  margin: 20px 0;
}

/* BOTÓN */
button {
  background: #22c55e;
  border: none;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #16a34a;
  transform: scale(1.05);
}

/* SPLIT */
.split {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 20px;
  align-items: center;
}

.split .text {
  flex: 1;
  padding: 20px;
}

.split .image {
  flex: 1;
}

.split img {
  width: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

.split img:hover {
  transform: scale(1.05);
}

.reverse {
  flex-direction: row-reverse;
}

/* SOLUCIÓN */
.solution {
  text-align: center;
  padding: 80px 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  border: 1px solid #1f2937;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #22c55e;
}

/* MÉTRICAS */
.metrics {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  text-align: center;
}

.metrics h3 {
  font-size: 3rem;
  color: #22c55e;
}

/* CTA */
.cta {
  background: linear-gradient(45deg, #065f46, #16a34a);
  padding: 80px;
  text-align: center;
  color: white;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: black;
}

.about, .services, .team, .contact, .mv {
  padding: 80px 20px;
  text-align: center;
}

.mv {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  background: #111827;
}

.mv div {
  max-width: 400px;
}

.services ul {
  list-style: none;
  margin-top: 20px;
}

.services li {
  margin: 10px 0;
}

.team .card {
  width: 260px;
}

.contact {
  background: #111827;
}

.socials {
  margin-top: 20px;
}

.socials a {
  margin: 0 10px;
  color: #22c55e;
  text-decoration: none;
}

.socials a:hover {
  text-decoration: underline;
}